# HP - this is a different way of doing git ignores than I've used before,
# Keep using for now but review.
*
#
!*.[ch]
#
!.gitignore
#
!gpl.txt
!doc.txt
!howto_compile.txt
!LICENSE
!Makefile
!README.md
!CMakeLists.txt
#
